<li>
  <div class="d-flex align-items-center gap-2 mb-3">
    <%= link_to user_path(attendee) do %>
      <%= image_tag attendee.decorate.avatar, class: 'rounded-circle avatar-md' %>
      <%= attendee.name %>
    <% end %>
    <%= render 'relationships/follow_btn', user: attendee %>
  </div>
</li>
